

    <div class="container">

        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">
                        <strong>Fitness Schedule</strong>
                    </h2>
                    <hr>
                </div>
                <div class="col-lg-12 text-center">
                    <img class="img-responsive img-border img-full" src="/img/September_October_2016.jpg" alt="">
                    <h2>
                        <br>
                    </h2>
                    <p>Our fitness schedule normally runs for 6 weeks at a time, and appears in a calendar format. Any changes that may occur are usually posted on the home page for quick reference. Cancellations, updates, changes, etc are also posted on our In Motion FaceBook page. Click on the page badge below to take you to our page now.</p>
                    <a href="https://www.facebook.com/pages/In-Motion-Dance-Fitness/262759410784" title="In Motion Dance + Fitness" style="font-family: &quot;lucida grande&quot;,tahoma,verdana,arial,sans-serif; font-size: 11px; font-variant: normal; font-style: normal; font-weight: normal; color: #3B5998; text-decoration: none;" target="_TOP">In Motion Dance + Fitness</a><span style="font-family: &#039;lucida grande&#039;,tahoma,verdana,arial,sans-serif;font-size: 11px;line-height: 16px;font-variant: normal;font-style: normal;font-weight: normal;color: #555555;text-decoration: none;">&nbsp;|&nbsp;</span><a href="https://www.facebook.com/advertising" title="Make your own badge!" style="font-family: &quot;lucida grande&quot;,tahoma,verdana,arial,sans-serif; font-size: 11px; font-variant: normal; font-style: normal; font-weight: normal; color: #3B5998; text-decoration: none;" target="_TOP">Promote Your Page Too</a><br /><a href="https://www.facebook.com/pages/In-Motion-Dance-Fitness/262759410784" title="In Motion Dance + Fitness" target="_TOP"><img class="img" src="https://badge.facebook.com/badge/262759410784.2722.392205587.png" style="border: 0px;" alt="" /></a>
                    <p> We offer monthly and annual unlimited memberships plus group fit class punch cards for students who prefer that route.  Currently, we off 5- and 10-class cards with 
                    6-month expiration dates and our 20-class card with a 1-year expiration date.<p>
                    <hr>
                </div>
                

    </div>
    <!-- /.container -->

    