
        

        <div id="content">
            <div class="container">

                <section>

                    

        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                            <div class="heading">
                                <h2>Gallery</h2>
                            </div>

                            <p class="lead">Here are a collection of pictures taken of our dancers at various competitions, recitals, and other performances.</p>
                        </div>
                    

                    <div class="row portfolio">

                        <div class="col-sm-4">
                            <div class="box-image">
                                <div class="image">
                                    <img src="img/umbrella.jpg" alt="" class="img-responsive">
                                </div>
                                <div class="bg"></div>
                                <div class="name">
                                    
                                </div>
                                <div class="text">
                                    <p class="hidden-sm">Gracie and Sami in Everytime it Rains:  Outstanding Choreography and Extreme Gold award winners</p>
                                    <p class="buttons">
                                        
                                    </p>
                                </div>
                            </div>
                            <!-- /.box-image -->

                        </div>

                        <div class="col-sm-4">
                            <div class="box-image">
                                <div class="image">
                                    <img src="img/jump.jpg" alt="" class="img-responsive">
                                </div>
                                <div class="bg"></div>
                                <div class="name">
                                   
                                </div>
                                <div class="text">
                                    <p class="hidden-sm">Meg Throckmorton: Graduate 2013</p>
                                    <p class="buttons">
                                        
                                    </p>
                                </div>
                            </div>
                            <!-- /.box-image -->

                        </div>

                        <div class="col-sm-4">
                            <div class="box-image">
                                <div class="image">
                                    <img src="img/pink.jpg" alt="" class="img-responsive">
                                </div>
                                <div class="bg"></div>
                                <div class="name">
                                    
                                </div>
                                <div class="text">
                                    <p class="hidden-sm">Miss Caydence showing off her "In Motion" formal wear for a school dance!</p>
                                    <p class="buttons">
                                        
                                    </p>
                                </div>
                            </div>
                            <!-- /.box-image -->

                        </div>

                        <div class="col-sm-4">
                            <div class="box-image">
                                <div class="image">
                                    <img src="img/group.jpg" alt="" class="img-responsive">
                                </div>
                                <div class="bg"></div>
                                <div class="name">
                                   
                                </div>
                                <div class="text">
                                    <p class="hidden-sm">Rule the World: Small Group Acro choreographed by Jodi Berry</p>
                                    <p class="buttons">
                                        
                                    </p>
                                </div>
                            </div>
                            <!-- /.box-image -->
                        </div>

                        <div class="col-sm-4">
                            <div class="box-image">
                                <div class="image">
                                    <img src="img/blackdress.jpg" alt="" class="img-responsive">
                                </div>
                                <div class="bg"></div>
                                <div class="name">
                                    
                                </div>
                                <div class="text">
                                    <p class="hidden-sm">Miss Cayleigh</p>
                                    <p class="buttons">
                                        
                                    </p>
                                </div>
                            </div>
                            <!-- /.box-image -->
                        </div>

                        <div class="col-sm-4">
                            <div class="box-image">
                                <div class="image">
                                    <img src="img/Haleyedit.jpg" alt="" class="img-responsive">
                                </div>
                                <div class="bg"></div>
                                <div class="name">
                                    
                                </div>
                                <div class="text">
                                    <p class="hidden-sm">Miss Haley:  Graduate 2016 - Recipient of the Goodwin Memorial Scholarship</p>
                                    <p class="buttons">
                                       
                                    </p>
                                </div>
                            </div>
                            <!-- /.box-image -->
                        </div>

                        <div class="col-sm-4">
                            <div class="box-image">
                                <div class="image">
                                    <img src="img/trio.jpg" alt="" class="img-responsive">
                                </div>
                                <div class="bg"></div>
                                <div class="name">
                                   
                                </div>
                                <div class="text">
                                    <p class="hidden-sm">Olivia, Katelynn and Cayleigh getting ready to compete</p>
                                    <p class="buttons">
                                        
                                    </p>
                                </div>
                            </div>
                            <!-- /.box-image -->
                        </div>
                        <div class="col-sm-4">
                            <div class="box-image">
                                <div class="image">
                                    <img src="img/dance.jpg" alt="" class="img-responsive">
                                </div>
                                <div class="bg"></div>
                                <div class="name">
                                    
                                </div>
                                <div class="text">
                                    <p class="hidden-sm">Meg Throckmorton from Glitter in the Air trio</p>
                                    <p class="buttons">
                                       
                                    </p>
                                </div>
                            </div>
                            <!-- /.box-image -->
                        </div>
                        <div class="col-sm-4">
                            <div class="box-image">
                                <div class="image">
                                    <img src="img/group2.jpg" alt="" class="img-responsive">
                                </div>
                                <div class="bg"></div>
                                <div class="name">
                                    
                                </div>
                                <div class="text">
                                    <p class="hidden-sm">Small group acro - Best Smiles Award from judges</p>
                                    <p class="buttons">
                                        
                                    </p>
                                </div>
                            </div>
                            <!-- /.box-image -->
                        </div>

                    </div>
                    </div>

                    </div>
                </section>

            </div>
            <!-- /.container -->

            