
    <div class="container">

        <!--<div class="row">
            <div class="box">
                <div class="col-lg-12 text-center">
                    <div id="carousel-example-generic" class="carousel slide">
                
                <!--Header Carousel-->
                    <header id="myCarousel" class="carousel slide">
                <!--Indicators-->
                        <ol class="carousel-indicators hidden-xs">
                            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="3" class="active"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="4"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="5"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="6" class="active"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="7"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="8"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="9" class="active"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="10"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="11"></li>
                        </ol>

                        <!-- Wrapper for slides -->
                        <div class="carousel-inner">
                            <div class="item active">
                                <img class="img-responsive img-full" src="/img/Katelynn_and_Haleyedit.jpg" alt="">
                            </div>
                            <div class="item">
                                <img class="img-responsive img-full" src="/img/Aubreyedit.jpg" alt="">
                            </div>
                            <div class="item">
                                <img class="img-responsive img-full" src="/img/Haleyedit.jpg" alt="">
                            </div>
                            <div class="item">
                                <img class="img-responsive img-full" src="/img/jump.jpg" alt="">
                            </div>
                            <div class="item">
                                <img class="img-responsive img-full" src="/img/umbrella.jpg" alt="">
                            </div>
                            <div class="item">
                                <img class="img-responsive img-full" src="/img/trio.jpg" alt="">
                            </div>
                            <div class="item">
                                <img class="img-responsive img-full" src="/img/group.jpg" alt="">
                            </div>
                            <div class="item">
                                <img class="img-responsive img-full" src="/img/group2.jpg" alt="">
                            </div>
                            <div class="item">
                                <img class="img-responsive img-full" src="/img/blackdress.jpg" alt="">
                            </div>
                            <div class="item">
                                <img class="img-responsive img-full" src="/img/dance.jpg" alt="">
                            </div>
                            <div class="item">
                                <img class="img-responsive img-full" src="
                                /img/pink.jpg" alt="">
                            </div>
                        </div>

                        <!-- Controls -->
                        <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                            <span class="icon-prev"></span>
                        </a>
                        <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                            <span class="icon-next"></span>
                        </a>
                    </div>

                    <h2 class="brand-before">
                        <small>Welcome to</small>
                    </h2>
                    <h1 class="brand-name">IN MOTION DANCE + FITNESS</h1>
                    <hr class="tagline-divider">
                    <h2>
                        <small>GET TO 
                            <strong>CLASS!!!!!</strong>
                        </small>
                    </h2>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">A little about
                        <strong>IN MOTION</strong>
                    </h2>
                    <hr>
                    <img class="img-responsive img-border img-left" src="img/intro-pic.jpg" alt="">
                    <hr class="visible-xs">
                    <p>Our main season generally runs from mid-September through early June when our annual recital takes place.  Depending on school cancellations and the school calendar, sometimes our recital will take place mid to late-May.  In the summer months, we work  on competition pieces, solos, duos and offer dance camps and workshops.  Registration is always offered on Rain Day, July 29, and then again in early August for each upcoming season.</p>
                    <p>A huge thanks to our resident photographer, Betty Jo Black for allowing us to use the beautiful photos she has taken at competitions, recitals, and other performances! Her work is so appreciated! Also, thank you to Crystal and Co Photography for the fabulous picture sessions that produce our recital book each season. <a href="http://www.crystalandcophotography.com/" target="_blank"> 
                    </a>
                    </p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">WHAT'S HAPPENING
                        <strong>NOW??</strong>
                    </h2>
                    <dt style="color:red">DANCE</dt>
                    <p>IN MOTION started the 2016-2017 season on September 12.  If you have not registered your student for dance class, please contact us as soon as possible as class availability at this point is limited.  We will be measuring for costume during the month of October, so rosters need to be set by November 1, before costumes for the recital are ordered.</p>
                    <dt style="color:red">FITNESS</dt>
                    <p>Fitness classes are back to being held at the studio since our summer BOOT CAMP has ended for the year.  You can check out our latest fitness schedule at <!--place link to navbar or just say to click on navbar?!-->. We offer a 20-class card for $120.  You have 1 year from date of purchase to use your 20 fitness classes.  We also offer monthly and annual unlimited packages for those students interested in that feature. We also have a 30-minute CIRCUITS program you can use anytime if you can't catch a group fit class.  Anyone is welcome to try out any of our fitness classes at anytime to help them make a decision about a fitness program.  Regardless of what program you choose, you will not be locked in to a contract at anytime.</p>
                    <dt style="color:red">DANCE SHOP<dt>
                    <p>We offer a basic line of dance apparel for our students including leotards, dance shorts, tights, dance undergarments, dance tops and more.  Our line of dance shoes includes ballet shoes, tap shoes, half soles, jazz shoes, and character shoes.  We no longer carry pointe shoes, but we recommend the following store for the very best pointe shoe fittings and service:  <a href="http://www.weartutu.com/" target="_blank"></a>
                    We also have a collection of accesories including crystal earrings and jewelry, glitter spray, hair ties, hair nets, miscellaneous hair accessories, and lots more.  We also carry IN MOTION wear throughout the year as well.</p>
                    <dt style="color:red">ADVOCARE<dt>
                    <p> We are pleased to offer a variety of Advocare products in our shop.  We always carry a wide variety of the Advocare Spark Energy flavors. <!--I would like to put in their logo?!-->We also keep in stock many of their other supplements including Catalyst, Meal Replacement Shakes, Rehydrate, Fiber Drink, OmegaPlex and more.  We can order anything you might need if we don't normally keep it in stock.</p>
                </div>
            </div>
        </div>

    </div>
    <!-- /.container -->

   