
        

        <div id="content">
            <div class="container">

                <section>

                    

        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                            <div class="heading">
                                <h2>Gallery</h2>
                            </div>

                            <p class="lead">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean
                                ultricies mi vitae est. Mauris placerat eleifend leo.</p>
                        </div>
                    

                    <div class="row portfolio">

                        <div class="col-sm-4">
                            <div class="box-image">
                                <div class="image">
                                    <img src="img/umbrella.jpg" alt="" class="img-responsive">
                                </div>
                                <div class="bg"></div>
                                <div class="name">
                                    
                                </div>
                                <div class="text">
                                    <p class="hidden-sm">Pellentesque habitant morbi tristique senectus et netus et malesuada</p>
                                    <p class="buttons">
                                        
                                    </p>
                                </div>
                            </div>
                            <!-- /.box-image -->

                        </div>

                        <div class="col-sm-4">
                            <div class="box-image">
                                <div class="image">
                                    <img src="img/jump.jpg" alt="" class="img-responsive">
                                </div>
                                <div class="bg"></div>
                                <div class="name">
                                   
                                </div>
                                <div class="text">
                                    <p class="hidden-sm">Pellentesque habitant morbi tristique senectus et netus et malesuada</p>
                                    <p class="buttons">
                                        
                                    </p>
                                </div>
                            </div>
                            <!-- /.box-image -->

                        </div>

                        <div class="col-sm-4">
                            <div class="box-image">
                                <div class="image">
                                    <img src="img/pink.jpg" alt="" class="img-responsive">
                                </div>
                                <div class="bg"></div>
                                <div class="name">
                                    
                                </div>
                                <div class="text">
                                    <p class="hidden-sm">Pellentesque habitant morbi tristique senectus et netus et malesuada</p>
                                    <p class="buttons">
                                        
                                    </p>
                                </div>
                            </div>
                            <!-- /.box-image -->

                        </div>

                        <div class="col-sm-4">
                            <div class="box-image">
                                <div class="image">
                                    <img src="img/group.jpg" alt="" class="img-responsive">
                                </div>
                                <div class="bg"></div>
                                <div class="name">
                                   
                                </div>
                                <div class="text">
                                    <p class="hidden-sm">Pellentesque habitant morbi tristique senectus et netus et malesuada</p>
                                    <p class="buttons">
                                        
                                    </p>
                                </div>
                            </div>
                            <!-- /.box-image -->
                        </div>

                        <div class="col-sm-4">
                            <div class="box-image">
                                <div class="image">
                                    <img src="img/blackdress.jpg" alt="" class="img-responsive">
                                </div>
                                <div class="bg"></div>
                                <div class="name">
                                    
                                </div>
                                <div class="text">
                                    <p class="hidden-sm">Pellentesque habitant morbi tristique senectus et netus et malesuada</p>
                                    <p class="buttons">
                                        
                                    </p>
                                </div>
                            </div>
                            <!-- /.box-image -->
                        </div>

                        <div class="col-sm-4">
                            <div class="box-image">
                                <div class="image">
                                    <img src="img/Haleyedit.jpg" alt="" class="img-responsive">
                                </div>
                                <div class="bg"></div>
                                <div class="name">
                                    
                                </div>
                                <div class="text">
                                    <p class="hidden-sm">Pellentesque habitant morbi tristique senectus et netus et malesuada</p>
                                    <p class="buttons">
                                       
                                    </p>
                                </div>
                            </div>
                            <!-- /.box-image -->
                        </div>

                        <div class="col-sm-4">
                            <div class="box-image">
                                <div class="image">
                                    <img src="img/trio.jpg" alt="" class="img-responsive">
                                </div>
                                <div class="bg"></div>
                                <div class="name">
                                   
                                </div>
                                <div class="text">
                                    <p class="hidden-sm">Pellentesque habitant morbi tristique senectus et netus et malesuada</p>
                                    <p class="buttons">
                                        
                                    </p>
                                </div>
                            </div>
                            <!-- /.box-image -->
                        </div>
                        <div class="col-sm-4">
                            <div class="box-image">
                                <div class="image">
                                    <img src="img/dance.jpg" alt="" class="img-responsive">
                                </div>
                                <div class="bg"></div>
                                <div class="name">
                                    
                                </div>
                                <div class="text">
                                    <p class="hidden-sm">Pellentesque habitant morbi tristique senectus et netus et malesuada</p>
                                    <p class="buttons">
                                       
                                    </p>
                                </div>
                            </div>
                            <!-- /.box-image -->
                        </div>
                        <div class="col-sm-4">
                            <div class="box-image">
                                <div class="image">
                                    <img src="img/group2.jpg" alt="" class="img-responsive">
                                </div>
                                <div class="bg"></div>
                                <div class="name">
                                    
                                </div>
                                <div class="text">
                                    <p class="hidden-sm">Pellentesque habitant morbi tristique senectus et netus et malesuada</p>
                                    <p class="buttons">
                                        
                                    </p>
                                </div>
                            </div>
                            <!-- /.box-image -->
                        </div>

                    </div>
                    </div>

                    </div>
                </section>

            </div>
            <!-- /.container -->

            